body {
    color:#fff;
    font-family: 'Nunito', sans-serif;
    margin:0;
    background-color: #36393f;
}
::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    border-radius: 5px;
    background: rgba(255,255,255, 0.1);
}
  
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.5);
}
  
::-webkit-scrollbar-thumb:hover {
    background: #000;
}

@keyframes showUp {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.chat__container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: "main";
}

.chat {
    grid-area: main;
    width: 100%;
    margin: 0px auto;
}

.chat__header {
    font-size: 16px;
    display: grid;
    height: 50px; 
    grid-template-areas: "info" 
                         "notice";
}

.chat__info {
    display: flex;
    height: 50px; 
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 5px #000;
    grid-area: info;
    z-index: 99;
}

.chat__header-notice {
    display: flex;
    height: 50px; 
    align-items: flex-end;
    background-color: rgb(114, 137, 218);
    margin: 0 auto;
    padding: 0 20px;
    border-radius: 0 0 5px 5px;
    grid-area: notice;
    z-index: 9;
    cursor: pointer;
}

.chat__header-notice:empty {
    grid-area: info;
    visibility: hidden;
}

.chat__notice-text {
    font-size: 0.8em;
    margin: 0;
    text-align: center;
}

.chat__notice--new-message {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.chat__user {
    display: flex;
    margin-left: 15px;
}

.chat__username {
    font-size: 1em;
    margin: auto 5px auto 0px;
}

.chat__users {
    display: flex;
    align-items: center;
    background: rgba(114, 137, 218, 0.5);
    padding: 3px 5px;
    border-radius: 25px;
}

.chat__users-count {
    font-size: 1.5em;
    margin: auto 5px;
}

.chat__logout {
    color: #fff;
    border: 0;
    background: rgba(114, 137, 218, 0.4);
    text-decoration: none;
    border-radius: 25px;
    margin-right: 20px;
    font-size: 1em;
}

.chat__logout:hover {
    background: rgba(114, 137, 218, 0.5);
}

.chat__logout:hover .icon.icon-close {
    color: rgba(255,255,255);
}

.chat__messages {
    font-size: 15px;
    width: 100%;
    height: calc(100vh - 170px);
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.5) rgba(255,255,255, 0.1);
}

.chat__message {
    padding: 10px 20px;
    margin: 10px 20px;
    background-color: rgba(0,0,0,0.2);
    border-radius: 5px;
    border-left: 3px solid;
}

.chat__notice--login {
    padding: 10px 5px;
    margin: 10px 20px;
}

.chat__notice--new-line {
    display: flex;
    justify-content: center;
    color: rgb(114, 137, 218);
    line-height: 20px;
}

.chat__notice--strong {
    background-color: rgb(114, 137, 218);
    color: #fff;
    padding: 0px 10px;
    border-radius: 5px;
}

.chat__message-autor {
    font-size: 1.1em;
    margin: 0px 0px 5px 0px;
    font-weight: 600;
}

.chat__message-text {
    font-size: 1em;
    margin: 0px;
}

.chat__footer {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px; 
    background-color: #36393f;
}

.chat__message-form {
    width: 90%;
}

.chat__user-message {
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: rgba(255,255,255, 0.1);
    margin-bottom: 10px;
}

.chat__user-message-text {
    font-size: 1em;
    line-height: 1.2em;
    outline: none;
    resize: none;
    padding: 10px 15px;
    box-sizing: border-box;
    border: 0;
    display: block;
    width: 100%;
    color: rgba(255,255,255,0.8);
    background-color: transparent;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.5) rgba(255,255,255, 0.1);
    max-height: 80px;
}

.chat__user-message-text::placeholder {
    font-size: 0.8em;
}

.icon {
    font-size: 1.5em;
    color: rgba(255,255,255,0.8);
    margin: auto 5px;
}

.icon.icon-notice {
    font-size: 1.3em;
}

.chat__footer-notice {
    height: 20px;
    display: flex;
    align-items: center;
    width: 90%;
}

.chat__notice--typing {
    padding: 0 20px;
}

.login {
    grid-area: main;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.75);
}

.login__window {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 90%; 
    height: 360px; 
    padding: 25px 10px;
    background-color: #36393f;
    border-radius: 5px;
    animation: showUp 3s;
}

.login__title {
    font-size: 1.5em;
    margin: 0;
}

.login__notice {
    text-align: center;
    color: rgba(255,255,255, 0.5);
    padding: 0px 10px;
    font-size: 1em;
    font-weight: 400;
}

.login__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__username {
    outline: none;
    margin: 10px 0px 20px 0px;
    box-sizing: border-box;
    width: 90%;
    height: 40px;
    font-size: 1em;
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.login__button {
    outline: none;
    color: #fff;
    font-size: 1.2em;
    border: 0;
    padding: 12px 0;
    width: 90%;
    border-radius: 3px;
    background-color: rgb(114, 137, 218);
    cursor: pointer;
}
.login__button:hover {
    background-color: rgb(114, 137, 218, 0.5);
}

.login__colors {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 0 auto 20px auto;
}

.login__color {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
}

.login__color--red {
    border-bottom: 4px solid #BF1200;
}

.login__color--blue {
    border-bottom: 4px solid #0099FF;
}

.login__color--yellow {
    border-bottom: 4px solid #FFCF19;
}

.login__color--green {
    border-bottom: 4px solid #027313;
}

.login__color--brown {
    border-bottom: 4px solid #735336;
}

@media screen and (min-width: 480px) {
    .login__window {
        width: 250px; 
    }
}